@charset "UTF-8";
@charset "UTF-8";
*{
    margin: 0px;
    
}
.yt {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
 }
 .yt iframe {
            width: 100%;
            height: 100%;
 }
 